
{% include "login_header.html" %}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="row w-100 justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <div class="footer-icons mb-3">
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-github"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-envelope-fill"></i></a>
      </div>
      <img src="../static/assets/images/LogIn_Image.png" class="ecology img-fluid" alt="Solar panels and Earth illustration" width="90%">
    </div>
    <div class="col-md-6 mt-2 mt-md-0 d-flex flex-column align-items-center justify-content-center">
      <div class="form-container">
        <h2 class="mb-3 text-center">Sign In</h2>
        <p class="text-center">Hello again dear User!</p>
        <form action="{{ url_for('login') }}" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input 
              type="text" 
              class="form-control" 
              id="username" 
              name="username"
              placeholder="Please enter your username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
              type="password" 
              class="form-control" 
              id="password" 
              name="password"
              placeholder="Please enter your password">
          </div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p class="flash">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <button type="submit" class="btn btn-primary w-100 mt-1">Submit</button>
          <div class="text-center mt-2 ">
            <a class="link" href="#">Forgotten password</a>
          </div>
        </form>
      </div>
      <div class="footer-links mt-4">
        <a href="{{url_for('login')}}">Contacts</a>
        <a href="{{url_for('login')}}">More about us</a>
        <a href="{{url_for('login')}}">Other platforms</a>
      </div>
    </div>
  </div>
</div>

{% include "login_footer.html" %}